appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
cheroot==5.5.0
CherryPy==10.2.2
decorator==4.0.11
distlib==0.2.5
Django==1.10.5
django-bootstrap-form==3.2.1
django-cuser==2017.3.16
django-nested-inline==0.3.7
idna==2.5
jsonschema==2.6.0
of==1.0.1
olefile==0.44
packaging==16.8
pdfkit==0.6.1
Pillow==4.0.0
portend==1.8
psycopg2==2.7.1
pymongo==3.4.0
pyparsing==2.2.0
pytz==2017.2
reportlab==3.4.0
requests==2.16.5
six==1.10.0
tempora==1.7
urllib3==1.21.1
ws4py==0.4.2
