<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potrditev registracije</title>

    <style>
        .right{
            text-align: right;
        }
    </style>

</head>
<body>
    {% csrf_token %}
    <div> Pozdravljeni, {{ user }} <br>
        Prosimo, potrdite svoj e-mail naslov {{ user.email }}. <br>
        <div class="right">ekipa Zavoda Živi na polno</div>
        <p><small>Ta e-mail vam je bil poslan, ker ste se pred kratkim prijavili na spletni strani Zavoda Živi na polno. Če tega niste storili, prosimo, da sporočilo spregledate.</small></p>
    </div>
</body>
</html>