{% load staticfiles %}
<html>
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/sass_bootstrap.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&subset=latin,latin-ext" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Rock+Salt" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}"> Živi na polno </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'index' %}#activities">Pri nas živi</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#contact">Kontakt</a>
                    </li>
                    <li>
                        <a href="#">Dogodki</a>
                    </li>
                     <li>
                        <a href="{% url 'index' %}#donate ">Doniraj <span class="glyphicon glyphicon-heart"></span> </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Odjava</a>
                        </li>
                        {% else %}
                        <li>
                             <a href=""  data-toggle="modal" data-target="#myModal">Prijava</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Registracija</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="">
        {% block header %}
        {% endblock %}
    </div>



        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

{#     <footer>#}
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                <p>Copyright &copy; Giacomelli </p>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.row -->#}
{#    </footer>#}
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Prijava</h4>
                  </div>
                  <div class="modal-body">
                    {% include 'registration/login.html' %}
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'register' %}"> <button type="button" class="btn btn-default"> Registracija </button> </a>
                  </div>
                </div>

          </div>
        </div>
    </body>
</html>