{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/half-slider.css'%}" rel="stylesheet">

    <link href="{% static 'css/costum.css'%}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&subset=latin,latin-ext" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Rock+Salt" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Živi na polno</title>

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Živi na polno</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for next_event in next_events %}
            <li data-target="#myCarousel" data-slide-to={{ forloop.counter }}  {% if forloop.counter == 1 %} class="active">{% endif %}</li>
{#            <li data-target="#myCarousel" data-slide-to="1"></li>#}
{#            <li data-target="#myCarousel" data-slide-to="2"></li>#}
            {% endfor %}
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            {% for next_event in next_events %}
                <div class="item {% if forloop.counter == 1  %}active{% endif %}">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ next_event.img_event.img.url}}');"></div>
                <div class="carousel-caption">
                    <div class="col-md-12 event_name event"> {{ next_event.name }} </div>
                    <div class="col-md-12 event_description event"> {{ next_event.short_description }} </div>
                    <div class="col-md-3 col-md-offset-3">
                            <a {% if next_event.btn_type == 'Prihaja kmalu' %} href= "" {% else %}href="{% url 'tickets' pk=next_event.id %}" {% endif %}>
                                <button class="btn btn-success btn-lg btn-cost col-md-12 {% if next_event.btn_type == 'Prihaja kmalu' %} disabled {% endif %}">
                                    {{ next_event.btn_type }}
                                </button>
                            </a>

                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'more' pk=next_event.id %}">
                            <button class="btn btn-success btn-lg btn-cost col-md-12"> Več o tem </button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 gly-div-header">
                    <span class="glyphicon glyphicon-heart gly-header" aria-hidden="true"></span>
                    <h1 class="napolni">Napolni srce</h1>
                    <p>
                        Ljubi svojega bližnjega kot samega sebe.
                    </p>
                </div>
                <div class="col-md-4 gly-div-header">
                    <span class="glyphicon glyphicon-fire gly-header" aria-hidden="true"></span>
                    <h1 class="napolni">Napolni duha</h1>
                </div>
                <div class="col-md-4 gly-div-header">
                    <span class="glyphicon glyphicon-road gly-header" aria-hidden="true"></span>
                    <h1 class="napolni">Napolni vsakdan</h1>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Giacomelli </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


</body>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</html>

</html>