{% extends "base.html" %}

{% block title %}
    Živi na polno
{% endblock %}


{% block header %}
    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for next_event in next_events %}
            <li data-target="#myCarousel" data-slide-to={{ forloop.counter }}  {% if forloop.counter == 1 %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            {% for next_event in next_events %}
                <div class="item {% if forloop.counter == 1  %}active{% endif %}">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ next_event.img_event.img.url}}');"></div>
                <div class="carousel-caption">
                    <div class="col-md-12 event_name title"> {{ next_event.name }} </div>
                    <div class="col-md-12 event_description description"> {{ next_event.short_description }} </div>
                    <div class="col-md-3 col-md-offset-3">
                            <a {% if next_event.btn_type == 'Prihaja kmalu' %} href= "" {% else %}href="{% url 'tickets' pk=next_event.id %}" {% endif %}>
                                <button class="btn btn-primary btn-lg btn-cost col-md-12 {% if next_event.btn_type == 'Prihaja kmalu' %} disabled {% endif %}">
                                    {{ next_event.btn_type }}
                                </button>
                            </a>

                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'more' pk=next_event.id %}">
                            <button class="btn btn-primary btn-lg btn-cost col-md-12"> Več o tem </button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

{% endblock %}


{% block content %}
    <!-- Page Content -->
<div class="container" id = "activities">

{#    {% for activity in all_activities %}#}
{#    <div class="featurette" id="center">#}
{#        <img class="featurette-image img-circle img-responsive {% if forloop.counter|divisibleby:2 %}pull-right {% else %}pull-left{% endif %}" src="{{ activity.image.url}}">#}
{#        <a href="{% url 'activities' pk=activity.id %}"> <h2 class="featurette-heading"> {{ activity.name }}</h2> </a>#}
{#        <p class="lead"> {{ activity.description|truncatewords:15 }} </p>#}
{#    </div>#}
{##}
{#    <hr class="featurette-divider">#}
{#    {% endfor %}#}

<div class="row">
{% for activity in all_activities %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item">
       <img class="img-responsive activity_img" src="{{ activity.image.url}}" alt="slika za {{ activity.name }}">
        <h3>
            <a href="{% url 'activities' pk=activity.id %}">{{ activity.name }}</a>
        </h3>
        <p>{{ activity.description|truncatewords:10 }}</p>
    </div>
{% endfor %}
</div>

</div> {#    end container#}

<div id="donate" class="container">
    Prinesite vso desetino v zakladnico, da bo zaloga v moji hiši, in preizkusite me s tem, govori Gospod nad vojskami, če vam tedaj ne odprem zapornic neba in ne izlijem na vas blagoslova do preobilja! (Mal 3,10)

    Vsakdo naj da, kakor se je v srcu odločil, ne z žalostjo ali na silo, kajti Bog ljubi veselega darovalca. (2 Kor 9, 8)

    Imamo jasno vizijo, potrebujemo pa sredstva, da jo lahko uresničimo. Zelo veseli smo vsakega tvojega daru, tudi najmanjšega.

    <table>
        <tr>
            <th>TRR</th>
            <th> SWIFT </th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td> {{ account.account }} </td>
            <td> {{ account.swift }}</td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th> </th>
            <th> SKLIC </th>
        </tr>
        {% for reference in references %}
        <tr>
            <td> {{ reference.name }} </td>
            <td> {{ reference.reference }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

<div id="contact">
    <div> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Kongresni trg 14 </div>
    <div> <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 064 110 020 </div>
    <div> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> zivinapolno@gmail.com </div>

</div>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

{% endblock %}