<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        Zavod Živi na polno <br>
        Kongresni trg 14 <br>
        1000 Ljubljana <br>
        TRR: SI56 020590261533912 <br>
        zivinapolno@gmail.com
    </div>
    <br>
    <h1> Račun št. {{ invoice_number }}</h1>
    <div>
        Kraj: {{ place }}<br>
        Datum: {{ date }}<br>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3> Izdelek </h3>
        </div>

        <div class="col-md-2">
            <h3>Količina</h3>
        </div>

        <div class="col-md-2">
            <h3>Cena brez DDV</h3>
        </div>

        <div class="col-md-2">
            <h3>DDV</h3>
        </div>

        <div class="col-md-2">
            <h3>Cena z DDV</h3>
        </div>
    </div>

    {% for product in products %}
    <div class="row">
        <div class="col-md-4">
            {{product.name }}
        </div>

        <div class="col-md-2">
            {{ product.quantity }}
        </div>

        <div class="col-md-2">
            {{ product.price_no_vat }}
        </div>

        <div class="col-md-2">
            {{ product.vat }}
        </div>

        <div class="col-md-2">
            {{ product.price_with_vat }}
        </div>
    </div>
    {%  endfor %}

</body>
</html>