<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>

    <style>

        table{
            width: 100%;
            text-align: left;
            padding-bottom: 20px;
        }

        th, td{
            border-bottom: 1px solid gray;
        }

        tr:first-child{
            background-color: lightgray;
        }

        .right{
            text-align: right;
        }

    </style>

</head>
<body>
    <div>
        <strong> Zavod Živi na polno </strong> <br>
        Kongresni trg 14 <br>
        1000 Ljubljana <br>
        TRR: SI56 020590261533912 <br>
        zivinapolno@gmail.com
    </div>
    <br>
    <h1> Račun št. {{ invoice_number }}</h1>
    <div>
        <b> Kraj: </b> {{ place }} <br>
        <b> Datum: </b> {{ date }} <br>
        <br>
    </div>

    <table>
        <tr>
            <th> Izdelek </th>
            <th> Količina </th>
            <th> Cena brez DDV </th>
            <th> DDV </th>
            <th> Cena z DDV </th>
        </tr>
            {% for product in products %}
            <tr>
                <td> {{product.name }} </td>
                <td> {{ product.quantity }} </td>
                <td> {{ product.price_no_vat }} </td>
                <td> {{ product.vat }} </td>
                <td> {{ product.price_with_vat }} </td>
                <br>
            </tr>
            {% endfor %}
    </table>


    <div class = 'right'>
        Znesek brez DDV: {{ total_no_vat }} <br>
        Znesek z DDV: {{ total_with_vat }} <br>
{#      Popust: {{ hjttj }} <br> #}
        <strong>Za plačilo EUR: 50 </strong> <br>

    </div>

</body>
</html>