{% extends "base.html" %}

{% block title %}
    {{ event.name }}
{% endblock %}


{% block content %}

<div class="activity_all">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-8 about-left">
            <img class="img-responsive" src="{{ event.img_event.img.url }}">
        </div>
    <div class="col-xs-6 col-sm-6 col-md-4 about-right">
        <div class="about-right-title">
            <div class="about-right-title-center">
                <h1 class="">{{ event.name }}</h1>
                <p> {{ event.date_from }}</p>
            </div>
        </div>
    </div>
    </div>

    <div class="row more_details">
        <div class="col-xs-2 tickets">
            {% if event.btn_type == 'Prihaja kmalu' %}
                Na nakup kart bo potrebno še malo počakati.
            {% elif event.btn_type == 'Doniraj'%}
                Doniraj
            {% else %}
                {% if user.is_authenticated %}
                    {% include 'ticket_form.html' %}
                {%  else %}
                    Za nakup kart se morate <a href=""  data-toggle="modal" data-target="#myModal" > prijaviti </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-xs-10 activity-description">
            {{ event.description }}
        </div>
    </div>
</div>

{% endblock %}