<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer</title>

    <style>

        table{
            width: 100%;
            text-align: left;
            padding-bottom: 20px;
        }

        th, td{
            border-bottom: 1px solid gray;
        }

        tr:first-child{
            background-color: lightgray;
        }

        .right{
            text-align: right;
        }

        .pay_det{
            padding-top: 80px;
        }

    </style>

</head>
<body>
    <div>
        <strong> Zavod Živi na polno </strong> <br>
        Kongresni trg 14 <br>
        1000 Ljubljana <br>
        TRR: SI56 020590261533912 <br>
        zivinapolno@gmail.com
    </div>
    <br>
    <h1> Predračun št. {{ offer_number }}</h1>
    <div>
        <b> Kraj: </b> {{ place }} <br>
        <b> Datum: </b> {{ date }} <br>
        <br>
    </div>

    <table>
        <tr>
            <th> Izdelek </th>
            <th> Količina </th>
            <th> Cena brez DDV </th>
            <th> DDV </th>
            <th> Cena z DDV </th>
            <th> Popust </th>
        </tr>
            {% for product in products %}
            <tr>
                <td> {{product.name }} </td>
                <td> {{ product.quantity }} </td>
                <td> {{ product.price_no_vat }} </td>
                <td> {{ product.vat }} </td>
                <td> {{ product.price_with_vat }} </td>
                <td> {{ product.discount }}</td>
                <br>
            </tr>
            {% endfor %}
    </table>


    <div class = 'right'>
        Znesek brez DDV: {{ total_no_vat }} €<br>
        Znesek z DDV: {{ total_with_vat }} €<br>
        <strong> Cena s popustom: {{ total_with_discount }} €</strong> <br>
    </div>

    <div class="pay_det">
        <h3> Podatki o plačilu: </h3>
        <b>Rok plačila:</b> {{ pay_until }} <br>
        <b>Koda namena:</b> OTHR <br>
        <b>Namen plačila:</b> Plačilo predračuna št. {{ offer_number }} <br>
        <b>BIC banke prejemnika:</b> LJBASI2X <br>
        <b>IBAN:</b> {{ bank_account }} <br>
        <b>Sklic:</b> {{ reference }} <br>
    </div>

</body>
</html>