<h1> Registracija </h1>

<form method="POST" class="post-form"> {% csrf_token %}
    {% load bootstrap %}
        {{ form.username|bootstrap }}
        {{ form.first_name|bootstrap }}
        {{ form.last_name|bootstrap }}
        {{ form.email|bootstrap }}
        {{ form.address|bootstrap }}
        {{ form.city|bootstrap }}
        {{ form.post|bootstrap }}
        {{ form.subscribed|bootstrap }}
        {{ form.password|bootstrap }}

    <button type="submit" class="save btn btn-default">Registriraj se</button>
</form>